 /* Global Styles
--------------------------*/

/* html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
} */

body {
    padding: 50px;
    background: #ccfccb;
    color: #2D2D2A;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a { 
    color: #464E47; 
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1, h2 {
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
}

.content-wrap {
    width: 1400px;
    margin: 0 auto;
    padding: 60px 0;
}

.header {
    background: #568259; 
    color: #F1FFFA;
}

.header h1 {
    text-align: center;
}

.header img {
    text-align: center;
}

.h1-title {
    padding: 25px;
    margin: 0 auto;
    text-align: center;
}

.banner-img {
    width: 800px;
    display: block;
}

.hero-shot {

}

a:visited { 
    color: #551a8b;
    text-decoration: none;
}

a:hover { 
    color: #06e;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}




/* Body Styles
--------------------------*/

.grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
    padding-left: 50px;
    text-align: center;
}

.main {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.sidebar {
    background: lightblue;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

/* Footer Styles
--------------------------*/
footer {
    background: #96E6B3;
    color: #2D2D2A;
    text-align: center;
    margin: 0;
    padding: 0;

}